<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_HellaAPCECOSOAPdService">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://168.223.110.110:8861/SmartBusCloudStack/PeopleCounting/HellaPush"
                binding="customBinding" bindingConfiguration="CustomBinding_HellaAPCECOSOAPdService"
                contract="SmartBusCloud.HellaAPCECOSOAPdService" name="SmartBusAPCECOClientSoap12Binding" />
        </client>
    </system.serviceModel>
</configuration>