<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LocalCloudLockConnectString" connectionString="Server=VMXPSP3_LGJ;database=CloudLock;uid=sa;pwd=123456" providerName="System.Data.SqlClient"/>
    <add name="CloudLockConnectStringEx" connectionString="Data Source=cloudlock.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=cloudlock;Persist Security Info=True;User ID=lgj;Password=531202" providerName="System.Data.SqlClient"/>
    <add name="CloudLockConnectStringexx" connectionString="Data Source=LGJVMWin2003;Initial Catalog=CloudLock;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="CloudLockConnectString1" connectionString="Data Source=LGJVMWin2003;Initial Catalog=CloudLock;Persist Security Info=True;User ID=sa;Password=123456; Max Pool Size=5;async=true" providerName="System.Data.SqlClient"/>
    <add name="CloudLockConnectString2" connectionString="Data Source=lgjpc\sqlexpress;Initial Catalog=CloudLock;Persist Security Info=True;User ID=sa;Password=123456; Max Pool Size=5;async=true" providerName="System.Data.SqlClient"/>
    <add name="SmartBusConnectStringxx" connectionString="Data Source=.\sqlexpress;Initial Catalog=SmartBus;Persist Security Info=True;User ID=sa;Password=123456; Max Pool Size=5;async=true" providerName="System.Data.SqlClient"/>
    
    <add name="SmartBusConnectString" connectionString="Data Source=LAPTOP-T470;Initial Catalog=SmartBus;Persist Security Info=True;User ID=sa;Password=123456; Max Pool Size=5;async=true" providerName="System.Data.SqlClient"/>

  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
      
        
        <bindings>
            <basicHttpBinding>
                <binding name="SmartBusCloudServicePortSoap11Binding"/>
                <binding name="SOAPdControl_Binding"/>
                <binding name="BasicHttpBinding_HellaAPCECOSOAPdService"/>
                <binding name="BasicHttpBinding_HellaAPCECOSOAPdService1"/>
                <binding name="BasicHttpBinding_HellaAPCECOSOAPdService2"/>
                <binding name="BasicHttpBinding_HellaAPCECOSOAPdService3"/>
            </basicHttpBinding>
            <customBinding>
                <binding name="SmartBusCloudServicePortSoap12Binding">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
                <binding name="SOAPdControl_Binding1">
                    <textMessageEncoding messageVersion="Soap12"/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
     
      
        
        
        <client>


          <endpoint address="http://localhost:8861/SmartBusCloudStack/PeopleCounting/HellaPush" binding="customBinding" bindingConfiguration="SmartBusCloudServicePortSoap12Binding" contract="HellaAPCECOSOAPdServiceClient.SOAPdServiceSoap12Binding" name="SmartBusAPCECOClientSoap12Binding"/>

          <endpoint address="http://localhost:8861/SmartBusCloudStack/PeopleCounting/HellaPushBasic" binding="basicHttpBinding" bindingConfiguration="SmartBusCloudServicePortSoap11Binding" contract="HellaAPCECOSOAPdServiceClient.SOAPdServiceSoap12Binding" name="SmartBusAPCECOClientSoap11Binding"/>

          
          <endpoint address="http://localhost:6680/smartbusapc/LGJAPCECOService.asmx" binding="customBinding" bindingConfiguration="SmartBusCloudServicePortSoap12Binding" contract="HellaAPCECOSOAPdServiceClient.SOAPdServiceSoap12Binding" name="SOAPdServiceSoap12Binding"/>




          <endpoint address="http://localhost:6680/smartbusapc/LGJAPCECOService.asmx" binding="basicHttpBinding" bindingConfiguration="SOAPdControl_Binding" contract="HellaAPCECOSOAPdServiceClient.SOAPdControl_Binding" name="SOAPdControl_Binding"/>
          <endpoint address="http://localhost:6680/smartbusapc/LGJAPCECOService.asmx" binding="customBinding" bindingConfiguration="SmartBusCloudServicePortSoap12Binding" contract="HellaAPCECOSOAPdServiceClient.SOAPdServiceSoap12Binding" name="SOAPdServiceSoap12Binding1"/>
          <endpoint address="http://localhost:6680/smartbusapc/LGJAPCECOService.asmx" binding="customBinding" bindingConfiguration="SOAPdControl_Binding1" contract="HellaAPCECOSOAPdServiceClient.SOAPdControl_Binding" name="SOAPdControl_Binding1"/>


          <endpoint address="http://localhost:8000/SmartBusAPCECO/HellaSoap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_HellaAPCECOSOAPdService" contract="LGJAPCECOSOAPdService.HellaAPCECOSOAPdService" name="LGJHellaAPCECOSOAPdService"/>
          
          
            <endpoint address="http://localhost:8000/SmartBusAPCECO/HellaSoap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_HellaAPCECOSOAPdService1" contract="LGJTestHellaAPC.HellaAPCECOSOAPdService" name="LGJTestHellaAPCECOSOAPdService"/>
          
            <endpoint address="http://localhost:8880/SmartBusAPCECO/HellaSoap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_HellaAPCECOSOAPdService2" contract="LGJTestWCFAPCECO.HellaAPCECOSOAPdService" name="LGJTestWCFAPCECOSOAPdService"/>
          
          
            <endpoint address="http://localhost:8000/SmartBusAPCECO/HellaSoap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_HellaAPCECOSOAPdService3" contract="LGJDemoHellaAPC.HellaAPCECOSOAPdService" name="LGJDemoHellaAPCECOSOAPdService"/>
        </client>
    </system.serviceModel>
</configuration>
